.container {
  max-width: 50rem;
  padding: 2rem 3rem;
  margin: 0 auto 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #91cedb;
}

.navBar {
  width: 50%;
}

.navList {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navList a {
  color: #91cedb;
}

.backToHome {
  margin: 3rem 0 0;
}

.mobileNav {
  display: none;
}

@media (max-width: 768px) {
  .mobileNav {
    position: relative;
    display: block;
  }

  .mobileNavList {
    position: absolute;
    right: 0px;
    border-radius: 5%;
    border: 1px solid black;
    padding: 10px;
    background-color: #fefdfa;
  }

  .navList {
    display: none;
  }
}
