.container {
  max-width: 50rem;
  padding: 2rem 3rem;
  margin: 0 auto 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #c27bb3;
}

.navBar {
  width: 50%;
}

.navList {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navList a {
  color: #c27bb3;
}

.backToHome {
  margin: 3rem 0 0;
}

.mobileNav {
  display: none;
}

@media (max-width: 768px) {
  .mobileNav {
    position: relative;
    display: block;
  }

  .mobileNavList {
    position: absolute;
    right: 0px;
    border-radius: 5%;
    -webkit-box-shadow: 2px 2px 8px 1px rgba(194, 123, 179, 0.53);
    box-shadow: 2px 2px 8px 1px rgba(194, 123, 179, 0.53);
    padding: 20px;
    background-color: #fefdfa;
  }

  .navList {
    display: none;
  }
}
