/* ABOUT SECTION */

.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 16px;
}

.illustration {
  max-width: 300px;
  align-self: center;
  margin: 0;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.caption {
  font-size: x-small;
  text-align: center;
}
