@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --primary: #161616;
  --secondary: #575757;
  --background: #fefefe;
  --green: 56, 104, 55;
  --purple: 159, 74, 165;
}

/* .star {
  z-index: -1;
  width: 11px;
  height: 11px;
  display: inline-block;
  position: absolute;
  fill: #ffffff;
  animation-name: float, fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.star:nth-child(3n + 3) {
  fill: #fec777;
}

.star:nth-child(5n + 5) {
  fill: #498fb3;
} */

/* @keyframes float {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-10px, 10px) scale(1.2);
  }
  100% {
    transform: translate(10px, -10px) scale(1);
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
} */

html,
body {
  padding: 0;
  margin: 0;
  color: var(--primary);
  font-size: 18px;
  /* background-color: #fefefe;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23386837' fill-opacity='0.15'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}
* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: rgb(var(--green));
  text-decoration: none;
}

a:hover {
  font-style: italic;
  /* text-decoration: underline; */
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
