@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

/* p {
  font-size: 0.95rem;
} */

ul {
  margin: 0;
  padding: 0;
  /* list-style: none; */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #263b55;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:hover {
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: rgba(17, 106, 96, 0.219);
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
