@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --primary: #161616;
  --secondary: #575757;
  --background: #fefefe;
  --green: 56, 104, 55;
  --purple: 159, 74, 165;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--primary);
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(var(--green));
  text-decoration: none;
}

a:hover {
  font-style: italic;
  /* text-decoration: underline; */
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

hr {
  border: 1px dashed rgb(var(--purple));
}

/* Star background */
.star {
  z-index: -1;
  width: 8px;
  height: 8px;
  display: inline-block;
  position: absolute;
  fill: #ffffff;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.star:nth-child(3n + 3) {
  fill: #b93673;
}

.star:nth-child(5n + 5) {
  fill: #3d47b2;
}

@keyframes float1 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-10px, 10px) scale(1.2);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes float2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(10px, -10px) scale(1.2);
  }
  75% {
    transform: translate(5px, 5px) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes float3 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(-6px, -10px) scale(1.1);
  }
  50% {
    transform: translate(-2px, 4px) scale(1.2);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
