@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* ABOUT SECTION */

.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 16px;
}

.illustration {
  max-width: 80%;
  align-self: center;
  margin: 0;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

@media (min-width: 480px) {
  .illustration {
    max-width: 45%;
    align-self: flex-end;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .illustration {
    max-width: 30%;
    align-self: flex-end;
    margin: 0;
  }
}

.caption {
  font-size: x-small;
  text-align: center;
}

/* PORTFOLIO SECTION */

.portfolioContainer {
  margin-bottom: 4rem;
}

.portfolioItems {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  /* background-color: #faf3fa98; */
}

.portfolioImageWrapper {
  position: relative;
  min-width: 150px;
  max-width: 150px;
  height: 85px;
  overflow: hidden;
  border: 1px solid rgba(var(--green), 0.2);
  border-radius: 6px;
  margin: 0 auto 1rem;
}

.docsImageWrapper {
  position: relative;
  min-width: 80px;
  max-width: 80px;
  height: 85px;
  overflow: hidden;
  border: 1px solid rgba(var(--green), 0.2);
  border-radius: 6px;
  margin: 0;
}

.projectDescription {
  font-size: 16px;
  color: var(--text-main);
  margin-bottom: 2rem;
}

.projectTech {
  padding: 0 0 1rem;
}

.projectTech {
  padding: 0 0 1rem;
}

.projectName {
  color: var(--primary);
  font-size: 18px;
  font-weight: 500;
}

.projectTech {
  color: var(--secondary);
  font-size: 16px;
  font-style: italic;
}

.projectLinks {
  font-size: 16px;
}

.projectInfo {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 0.2rem 0;
}

.linkIcon {
  display: inline-block;
  width: 15px;
}

@media (min-width: 490px) {
  .projectContainer {
    flex-direction: row;
  }

  .portfolioImageWrapper {
    margin: 0 0 1rem;
  }

  .projectInfo {
    width: 65%;
    padding: 0.2rem 1rem;
  }
}

/* BLOG STYLING */

.blogTitleAndDate {
  margin: 0 0 1rem;
  font-style: italic;
}

.notes {
  font-size: 16px;
}

.notes ul {
  margin: 1rem 0;
  list-style-position: inside;
}

/* BACK BUTTON */
.backBtn {
  margin-top: 6rem;
  font-size: 16px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .portfolioItems {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .aboutProfileImg {
    display: none;
  }

  .aboutContainer {
    grid-template-columns: auto;
  }

  .contactForm fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contactForm input,
  .contactForm textarea {
    width: 100%;
  }
}

.noteTitle {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
}

.noteDate {
  margin: 0;
}

.notesImg {
  max-width: 30%;
  margin-left: auto;
}
