@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* ABOUT SECTION */
.aboutContainer {
  /* display: grid;
  grid-template-columns: auto 25%;
  grid-template-rows: auto auto;
  column-gap: 3rem; */
  margin-bottom: 6rem;
}

.aboutHeading {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.aboutContent {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
}

.aboutProfileImg {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  align-self: end;
  justify-self: center;
}

/* PORTFOLIO SECTION */

.portfolioContainer {
  margin-bottom: 4rem;
}

.portfolioItems {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.portfolioImageWrapper {
  position: relative;
  min-width: 200px;
  max-width: 200px;
  height: 113px;
  overflow: hidden;
  border: 2px solid #46594526;
  border-radius: 6px;
  margin: 0 auto 1rem;
}

.projectDescription {
  font-size: 16px;
  color: var(--text-main);
  margin-bottom: 2rem;
}

.projectTech {
  padding: 0 0 1rem;
}

.projectTech {
  padding: 0 0 1rem;
}

.projectName {
  color: var(--primary);
  font-size: 18px;
}

.projectTech {
  color: rgba(var(--secondary), 1);
  font-size: 16px;
  font-style: italic;
}

.projectLinks {
  font-size: 16px;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.2rem 1rem;
}

@media (min-width: 490px) {
  .projectContainer {
    flex-direction: row;
  }

  .portfolioImageWrapper {
    margin: 0 0 1rem;
  }

  .projectInfo {
    width: 65%;
  }
}

/* BLOG STYLING */

.blogTitleAndDate {
  margin: 0 0 1rem;
  font-style: italic;
}

.notes {
  font-size: 16px;
}

.notes ul {
  margin: 1rem 0;
  list-style-position: inside;
}

/* BACK BUTTON */
.backBtn {
  margin-top: 6rem;
  font-size: 16px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .portfolioItems {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .aboutProfileImg {
    display: none;
  }

  .aboutContainer {
    grid-template-columns: auto;
  }

  .contactForm fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contactForm input,
  .contactForm textarea {
    width: 100%;
  }
}

.noteTitle {
  margin: 0;
  padding: 0;
  font-size: large;
}

.noteDate {
  margin: 0;
}
