@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

/* Container wrapping header and homepage content */
.container {
  max-width: 50rem;
  padding: 2rem 3rem;
  margin: 0 auto 0;
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: repeat(2, 1fr);
  color: #116a5f;
  margin-bottom: 5rem;
  margin-top: 4rem;
}

/* HEADER NAME AND TITLE/DESCRIPTION */
.name {
  grid-row: 1 / 2;
  grid-column: 1 / 1;
}

.title {
  grid-row: 2 / 3;
}

.blogHeader {
  display: flex;
  color: #116a5f;
  margin-bottom: 5rem;
  margin-top: 4rem;
}

/* NAVBAR */
.navBar {
  grid-row: 1 / 3;
  align-self: center;
}

.navList {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navList a {
  color: #116a5f;
}

.backToHome {
  margin: 3rem 0 0;
}

.mobileNav {
  display: none;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: end;
}

.mobileNav ul {
  list-style: none;
}

.mobileNav button {
  border-radius: 15%;
}

/* NIGHT MODE TOGGLER */
.nightModeToggler {
  grid-row: 1 / 3;
  align-self: center;
  margin: 0 0 0 2rem;
}

.nightModeToggler button {
  border-radius: 15%;
}

/* FOOTER */

.socialsFooter {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background-color: rgba(245, 245, 245, 0.8);
  padding: 1rem;
}

.socialsImg {
  margin: 5px;
}

@media (max-width: 768px) {
  .mobileNav {
    position: relative;
    display: block;
  }

  .mobileNavList {
    position: absolute;
    right: 0px;
    border-radius: 5%;
    -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #fefdfa;
  }

  .navList {
    display: none;
  }
}
